$buttonGreen: #8CC439;
$buttonBlue: #4589E4;
$background: #F4F3F4;
$textPrimary: #585858;

body{
  font-family: "Helvetica Neue";
  text-align: center;
  padding: 50px 20px 0;
  background: $background;
  color: $textPrimary;
}

h1, h2, h3, h4, body {
  font-weight: lighter;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 21px;
}

a {
  text-decoration: none;
  color: $textPrimary;
}

.title {
  &:hover {
    color: $buttonBlue;
  }
}

.button {
  background: $buttonGreen;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin: 10px auto;
  width: auto;
  height: auto;
  display: inline-block;
  &:hover {
    cursor: pointer;
    background: #B4EC51;
    color: #fff;
  }
}

.round {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 0;
  margin-left: -25px;
  position: absolute;
}

.next {
  background-color: $buttonBlue;
  &:hover {
    background-color: #53A0FD;
  }
}

.panel {
  position: relative;
  padding: 20px 10px 30px 10px;
  border-radius: 8px;
  background-color: rgba(96,96,96,.14);
  width: 60%;
  margin: 30px auto 60px auto;
}

label, input, a {
  display: block;
}

input:not([type="submit"]) {
  border: none;
  border-radius: 4px;
  padding: 15px 25px;
  width: 90%;
  margin: 10px auto;
  -moz-box-shadow:    inset 0px 1px 3px 1px rgba(0,0,0,0.31);
  box-shadow:         inset 0px 1px 3px 1px rgba(0,0,0,0.31);
}

//
// .ok, .add {
//   margin: -60px auto 0 auto;
// }
