// Time Elapsed
.panel
  p 10:11
// Total Time Budgeted
.panel
  p 45:00

h2 Agenda Items
// Agenda Description
.panel
  p Review Contract
// Time Budget
.panel
  p 25 mins
.panel
  p Create/Define Scope Requirements
.panel
  p 25 mins
