div.panel
  h2 What is the purpose of this meeting?
  input To define scope requirementsto continue with development.
  a.button.ok.round ✓

h2 List the agenda items you need to accomplish
div.panel Review Contract
div.panel 25 Mins
div.panel
  form
    label Agenda Item Description
    input Create/Define Scope Requirements
    label How many minutes will it take?
    input 15
  a.button.add.round +

a.button.next(href='/meet') Done
