h1 Timebox
div.panel
  h2 What is the purpose of this meeting?
  input To define scope requirementsto continue with development.
a.ok ✓

div.panel
  h2 List the agenda items you need to accomplish
  form
    label Agenda Item Description
    input Review Contract
    label How many minutes will it take?
    input 25
a.add +

a.done(href='/meet') Done
